@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* -----COLORS---- */
  /* primary colors */
  --color-primary-100: #9dccff;
  --color-primary-200: #29B9E7;
  --color-primary-500: #49bbbd;

  /* secondary colors */

  /* tertiary colors */
  --color-tertiary-100: #5B72EE;

  /* dark colors -- text */
  --color-dark-100: #696984;
  --color-dark-500: #2f327d;
  --color-dark-600: #5b5b5b;
  --color-dark-700: #010514cc;
  --color-dark-800: #252641;
  --color-dark-900: #010514;

  /* --white-- */
  --color-white-100: #ffffffcc;
  --color-white-500: #ffffff;

  /* ---font-weight--- */
  --font-weight-400 : 400;
  --font-weight-500 : 500;
  --font-weight-600 : 600;
  --font-weight-700 : 700;  

  /* ----text-sizing---- */
  --text-body-75: 18px;
  --text-body-100: 20px;
  --text-body-200: 22px;
  --text-body-300: 24px;
  --text-body-400: 26px;

  --text-large-500: 36px;
  --text-large-600: 40px;
  --text-large-700: 40px;
  --text-large-800: 48px;
  --text-large-1000: 96px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}

@layer utilities {

  .header-2-tone{
    @apply text-dark-500
  }

   .header-2-tone span{
    @apply text-primary-500
  }



  .link{
    @apply transition hover:opacity-90;
  }

  .btn {
    @apply px-4 py-2 rounded-md font-medium transition duration-150 cursor-pointer hover:opacity-90 hover:scale-95;
  }

  .btn-pill {
    @apply rounded-full;
  }

  .btn-primary {
    @apply bg-primary-500 text-white;
  }

  .btn-white {
    @apply bg-white text-dark-600 border border-dark-600;
  }
}

@layer components {
  .gradient-text{
    @apply bg-gradient-to-r from-[#136CB5] to-primary-500 bg-clip-text text-transparent
  }
}
